{% extends "itreporting/base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<h1>About Lotus University</h1>
<br>
<p>Lotus University is a forward-thinking institution dedicated to excellence in engineering, technology, and innovation.
    Founded on the principles of academic rigor, inclusivity, and real-world impact,
    the university provides a dynamic learning environment where students are empowered to turn ideas into practical solutions.
    With state-of-the-art laboratories, industry-aligned curricula, and a strong emphasis on research and sustainability,
    Lotus University prepares graduates to meet the evolving challenges of a global engineering landscape.
    Supported by experienced faculty and strategic industry partnerships, the university fosters creativity, ethical leadership, and lifelong learning,
    enabling its students to thrive as skilled engineers and responsible global citizens.
</p>


{% endblock %}
